
Features of Python:

Open source - Extensive libraries, frameworks.

user friendly - Ease of use syntax wise.

Interpreter - Executes the code line by line.

Java - Takes the whole code, convert it to binary, executes the binary code

Python - Executes the code line by line, convert it to binary, executes the binary code, hence less faster than java.

Multipurpose - Data analysis, Machine Learning, Flask, Django (web applications).

Object oriented programming - Inheritance (Supports multiple inheritance), Encapsulation, Abstraction.

Cross platform - Supports any OS.

Multi-threading - Uses the concepts of threads of Operating System in order to execute the code parallely.

In [ ]:
Topic 1: Variables and Expressions

Syntax: variable_name = value

In [1]:
#Declaring a variable

#Example 1
a = 5

print(a)

5

In [ ]:
#Example 2
car = 'benz'

print(car)

Topic 2: Data Types in Python:

integer - Whole number

float - Number with decimal points

string - Character or a Sentence

In [3]:
#Example 1
a = 5

# type is an in-built function in Python which displays the data-type of any variable
print(type(a))

<class 'int'>

In [5]:
#Example 2
a = 5.0

print(type(a))

<class 'float'>

In [7]:
#Example 3
car = 'benz'

print(type(car))

<class 'str'>

Topic 3: Mathematical Operations in Python

In [9]:
#Addition Operation

a = 5
b = 6

c = a + b

print(c)

11

In [11]:
#Subtraction Operation

a = 5
b = 6

c = a - b

print(c)

-1

In [13]:
#Multiplication Operation

a = 5
b = 6

c = a * b

print(c)

30

In [15]:
#Division Operation

a = 5
b = 6

c = b / a

print(c)

1.2

In [17]:
#Integer Division Operation

a = 5
b = 6
c = b // a

print(c)

print(type(c))

1
<class 'int'>

In [19]:
#Modulo Operation

a = 5
b = 6
c = b % a

print(c)

print(type(c))

1
<class 'int'>

In [21]:
#Power operation

a = 5

b = a ** 2

print(b)

25

In [31]:
#Factorial Operation

import math

a = 6
factorial = math.factorial(a)

factorial_print = 'Factorial of {} is {}'.format(a, factorial)

print(factorial_print)

Factorial of 6 is 720

In [33]:
#In-built library - Users can use existing functionalities, avoiding re-inventing the wheel.
import math

a = 5
b = math.floor(4.555)

print(b)

print(type(b))

c = a + b

#Float to Integer
#c = int(c)

print(c)
print(type(c))

4
<class 'int'>
9
<class 'int'>

Topic 4: String Operations in Python

In [39]:
car = 'benz'

name = 'Max'

namecar = car + ' ' + name

print(namecar)

benz Max

In [41]:
#len() - Counts total number of characters in a string

length_of_string = len(namecar)

print(length_of_string)

8

In [43]:
#Upper() - Converts lowercase characters to uppercase characters

upper = namecar.upper()

print(upper)

BENZ MAX

In [45]:
#lower() - Converts uppercase characters to lowercase characters

upper = namecar.lower()

print(upper)

benz max

In [47]:
#Replace - Replaces old string value with the new string value

sentence = "My name is Max"

new_sentence = sentence.replace("Max", "Maximus")

print(sentence)

print(new_sentence)

My name is Max
My name is Maximus

In [49]:
#Strip() - Removes the unwanted whitespace in the string

text = "        My name is Max        "

print(text)

print(text.strip())

        My name is Max
My name is Max

In [53]:
#Split() - Splits the string into each individual word

text = "My name is Max"

print(text)

array = text.split()

print(array)

print(text.split())

My name is Max
['My', 'name', 'is', 'Max']
['My', 'name', 'is', 'Max']

In [55]:
#Typecasting - Changing one data type to other data type

#Integer to String

a = 6

a = str(a)

print(type(a))

acar = a + car

print(acar)

<class 'str'>
6benz

In [57]:
#String to Integer - Cannot append data of different data types, ending in throwing an error while executing the code.

a = int(a)

print(type(a))

acar = a + car

print(acar)

<class 'int'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
#In this example we are typecasting the integer value 'a' to string and now we can append to the value 'b' without any issues.

a = 5

b = "car"

acar = str(a) + b

print(acar)

5car

Topic 5: How to take user input?

In [61]:
#input() - Allows the user to input a value of their choice. By default the input function considers the user input as string.

#Example 1 - Taking user input

user_input = input("Enter your name: ")

print("My name is", user_input)

Enter your name:  Areeb

My name is Areeb

In [63]:
#If we have to take the integer input we will have to typecast it as int(input("User message"))

#Example 2 - Taking integer input

a = int(input("Enter a number: "))
print("The value of a is", a)

b = int(input("Enter another number: "))

print("The value of b is", b)

c = a + b

print("The sum of the two numbers is", c)

Enter a number:  25

The value of a is 25

Enter another number:  35

The value of b is 35
The sum of the two numbers is 60

In [69]:
#Python allows us to print dynamic values. The curly braces is a placeholder in the string which can be any value given by the user.
#format function then inserts the value given by the user in the respective placeholder.

#Example 1
txt = "My name is {name} and my full name is {fm}".format(fm = "Maximus", name = "Max")

print(txt)

My name is Max and my full name is Maximus